body {
  background-color: orange;
  color: white;
  grid-template-columns: 2fr 8fr;
  padding: 1em;
  font-family: sans-serif;
  text-align: center;
}

.gif-img {
  max-width: 100%;
  height: 100%;
}